<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Account | N-2 Bakery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form-control.css">
</head>

<body>

{{> header}}

<main class="container">
    <div class="row my-3">
        <h4 class="mb-3">Account</h4>
        <form name="form-account" class="needs-validation" novalidate method="post" action="/account">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <div class="row g-3">
                {{#feedbackMessage}}
                    <div class="col-8">
                        <div class="alert alert-secondary" role="alert">
                            {{feedbackMessage}}
                        </div>
                    </div>
                {{/feedbackMessage}}
                <div class="col-8">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" readonly class="form-control" id="email" value={{user}}>
                </div>
                <div class="col-8">
                    <label for="address-line1"
                           class="form-label {{#feedback}}{{#addressLine1ErrorMessage}}is-invalid{{/addressLine1ErrorMessage}}{{/feedback}}">Address
                        Line 1<small class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="address-line1" name="addressLine1" required
                           {{#address}}value="{{addressLine1}}"{{/address}}{{#feedback}}{{#lastInputAddressLine1}}value="{{lastInputAddressLine1}}"{{/lastInputAddressLine1}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="address-line1-feedback-message">{{#feedback}}{{#addressLine1ErrorMessage}}{{addressLine1ErrorMessage}}{{/addressLine1ErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="col-8">
                    <label for="address-line2" class="form-label">Address Line 2</label>
                    <input type="text" class="form-control" id="address-line2" name="addressLine2"
                           {{#address}}value="{{addressLine2}}"{{/address}}{{#feedback}}{{#lastInputAddressLine2}}value="{{lastInputAddressLine2}}"{{/lastInputAddressLine2}}{{/feedback}}>
                </div>
                <div class="col-6">
                    <label for="post-code"
                           class="form-label {{#feedback}}{{#postcodeErrorMessage}}is-invalid{{/postcodeErrorMessage}}{{/feedback}}">Post
                        Code<small class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="post-code" name="postcode" required
                           {{#address}}value="{{postcode}}"{{/address}}{{#feedback}}{{#lastInputPostcode}}value="{{lastInputPostcode}}"{{/lastInputPostcode}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="postcode-feedback-message">{{#feedback}}{{#postcodeErrorMessage}}{{postcodeErrorMessage}}{{/postcodeErrorMessage}}{{/feedback}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button name="update-account" class="btn btn-secondary btn-md my-3" type="submit">Update Details
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>

{{> footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="/js/form-validation.js"></script>
</body>
</html>