<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page | N-2 Bakery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/carousel.css" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/bakery_logo.png" alt="N-2 Bakery">
            </a>
            <div class="collapse navbar-collapse flex-md-column" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/basket" methods="get">Basket <strong
                                id="basket-item-count">{{basketItemCount}}</strong> Item(s)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Whole Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sliced Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cupcakes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main class="container">
    <div class="row g-3">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your basket</span>
                <span class="badge bg-secondary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                {{#basketItems}}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <span class="my-0" id="title-{{productId}}">{{itemTitle}}</span>
                        <span class="text-muted" id="quantity-{{productId}}">{{quantity}}</span>
                        <span class="text-muted" id="total-{{productId}}">{{itemTotal.value}}</span>
                    </li>
                {{/basketItems}}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (&pound)</span>
                    <strong>{{basketTotalPrice.value}}</strong>
                </li>
            </ul>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid text-center">
        <span class="text-muted">&copy; 2021, N-2 Bakery</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>