<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page | N-2 Bakery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/card.css" rel="stylesheet"/>
</head>

<body>

{{> header}}

<main class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {{#catalog}}
            <div class="col">
                <div class="card mb-4">
                    <img src="/images/products/{{id}}.jpg" class="card-img-top" height="360" alt="{{title}}">
                    <div class="card-body">
                        <form name="form-add-item-{{id}}" method="post" action="/basket/add">
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                            {{#productType}}
                                <input type="hidden" name="product-type" value="{{productType}}">
                            {{/productType}}
                            <h5 class="card-title" id="title-{{id}}">{{title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted" id="price-{{id}}">&pound {{price}}</h6>
                            <p class="card-text" id="description-{{id}}">{{description}}</p>
                            <button name="item-to-add" type="submit" class="btn btn-light btn-sm" value="{{id}}">
                                Add to Basket
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {{/catalog}}
    </div>
</main>

{{> footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>