<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/bakery_logo.png" alt="N-2 Bakery">
            </a>
            <div class="collapse navbar-collapse flex-md-column" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/basket">Basket <strong
                                id="basket-item-count">{{^basket}}
                            0{{/basket}}{{#basket}}{{itemCount}}{{/basket}}</strong> Item(s)</a>
                    </li>
                    {{^account}}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    {{/account}}
                    {{#account}}
                        <li class="nav-item">
                            <a class="nav-link active" href="/account">{{account}}</a>
                        </li>
                    {{/account}}
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/catalog/WHOLE_CAKE">Whole Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/catalog/CUPCAKE">Cupcakes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>