<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page | N-2 Bakery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/carousel.css" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="images/bakery_logo.png" alt="N-2 Bakery">
            </a>
            <div class="collapse navbar-collapse flex-md-column" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Basket <strong id="basket-item-count">{{basketItemCount}}</strong> Item(s)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Whole Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sliced Cakes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cupcakes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main class="container">
    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="images/carousel/fresh_cupcakes.png" class="d-block w-100"
                     alt="N-2 Bakery - flower cupcakes available">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/local_delivery_available.png" class="d-block w-100"
                     alt="N-2 Bakery - local delivery available">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Catalog -->
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {{#catalog}}
            <div class="col">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/480" class="card-img-top" alt="...">
                    <div class="card-body">
                        <form method="post" action="/basket">
                            <h5 class="card-title" id="title">{{title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted" id="price">&pound {{price.value}}</h6>
                            <p class="card-text" id="description">{{description}}</p>
                            <button name="added-product-id" type="submit" class="btn btn-light btn-sm" value="{{id}}">Add to Basket</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/catalog}}
    </div>

</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid text-center">
        <span class="text-muted">&copy; 2021, N-2 Bakery</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>