<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/bakery_logo.png" alt="N-2 Bakery">
            </a>
        </div>
    </nav>
</header>