<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register | N-2 Bakery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

{{> header}}

<main class="container">
    <div class="row my-3">
        <h4 class="mb-3">Register</h4>
        <form name="form-register" class="needs-validation" novalidate method="post" action="/user/register">
            <div class="row g-3">
                {{#registration}}
                    <div class="col-8">
                        <label for="email" class="form-label">Email*</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                        <div class="invalid-feedback">
                            Email required.
                        </div>
                    </div>
                    <div class="col-8">
                        <label for="password" class="form-label">Password*</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="invalid-feedback">
                            Password required.
                        </div>
                    </div>
                    <div class="col-8">
                        <label for="address-line1" class="form-label">Address Line 1<small
                                class="form-text text-muted">*</small></label>
                        <input type="text" class="form-control" id="address-line1" name="addressLine1" required>
                        <div class="invalid-feedback">
                            Address line 1 required.
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-8">
                            <label for="address-line2" class="form-label">Address Line 2</label>
                            <input type="text" class="form-control" id="address-line2" name="addressLine2">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-3">
                            <label for="post-code" class="form-label">Post Code*</label>
                            <input type="text" class="form-control" id="post-code" name="postCode" required>
                            <div class="invalid-feedback">
                                Post code required.
                            </div>
                        </div>
                    </div>
                {{/registration}}
                <div class="row">
                    <div class="col">
                        <button name="register" class="btn btn-secondary btn-md my-3" type="submit">Submit Details
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

{{> footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="/js/form-validation.js"></script>
</body>
</html>