<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register | N-2 Bakery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form-control.css">
</head>

<body>

{{> no-nav-header}}

<main class="container">
    <div class="row my-3">
        <h4 class="mb-3">Register</h4>
        <form name="form-register" class="needs-validation" novalidate method="post" action="/register">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <div class="row g-2">
                <div class="form-group">
                    <label for="email"
                           class="form-label {{#feedback}}{{#emailErrorMessage}}is-invalid{{/emailErrorMessage}}{{/feedback}}">Email<small
                            class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="email" name="email" required
                        {{#feedback}}{{#lastInputEmail}}value="{{lastInputEmail}}"{{/lastInputEmail}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="email-feedback-message">{{#feedback}}{{#emailErrorMessage}}{{emailErrorMessage}}{{/emailErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password"
                           class="form-label {{#feedback}}{{#passwordErrorMessage}}is-invalid{{/passwordErrorMessage}}{{/feedback}}">Password<small
                            class="form-text text-muted">*</small></label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="6-8 characters" required>
                    <div class="invalid-feedback"
                         id="password-feedback-message">{{#feedback}}{{#passwordErrorMessage}}{{passwordErrorMessage}}{{/passwordErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="first-name"
                           class="form-label {{#feedback}}{{#firstNameErrorMessage}}is-invalid{{/firstNameErrorMessage}}{{/feedback}}">First
                        Name<small class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="first-name" name="firstName" required
                        {{#feedback}}{{#lastInputFirstName}}value="{{lastInputFirstName}}"{{/lastInputFirstName}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="first-name-feedback-message">{{#feedback}}{{#firstNameErrorMessage}}{{firstNameErrorMessage}}{{/firstNameErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="last-name"
                           class="form-label {{#feedback}}{{#lastNameErrorMessage}}is-invalid{{/lastNameErrorMessage}}{{/feedback}}">Last
                        Name<small class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="last-name" name="lastName" required
                        {{#feedback}}{{#lastInputLastName}}value="{{lastInputLastName}}"{{/lastInputLastName}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="last-name-feedback-message">{{#feedback}}{{#lastNameErrorMessage}}{{lastNameErrorMessage}}{{/lastNameErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="address-line1"
                           class="form-label {{#feedback}}{{#addressLine1ErrorMessage}}is-invalid{{/addressLine1ErrorMessage}}{{/feedback}}">Address
                        Line 1<small class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="address-line1" name="addressLine1" required
                        {{#feedback}}{{#lastInputAddressLine1}}value="{{lastInputAddressLine1}}"{{/lastInputAddressLine1}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="address-line1-feedback-message">{{#feedback}}{{#addressLine1ErrorMessage}}{{addressLine1ErrorMessage}}{{/addressLine1ErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="address-line2" class="form-label">Address Line 2</label>
                    <input type="text" class="form-control" id="address-line2" name="addressLine2"
                        {{#feedback}}{{#lastInputAddressLine2}}value="{{lastInputAddressLine2}}"{{/lastInputAddressLine2}}{{/feedback}}>
                </div>
                <div class="form-group">
                    <label for="town-or-city"
                           class="form-label {{#feedback}}{{#townOrCityErrorMessage}}is-invalid{{/townOrCityErrorMessage}}{{/feedback}}">Town
                        or City<small class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="town-or-city" name="townOrCity" required
                        {{#feedback}}{{#lastInputTownOrCity}}value="{{lastInputTownOrCity}}"{{/lastInputTownOrCity}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="town-or-city-feedback-message">{{#feedback}}{{#townOrCityErrorMessage}}{{townOrCityErrorMessage}}{{/townOrCityErrorMessage}}{{/feedback}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="post-code"
                           class="form-label {{#feedback}}{{#postcodeErrorMessage}}is-invalid{{/postcodeErrorMessage}}{{/feedback}}">Postcode<small
                            class="form-text text-muted">*</small></label>
                    <input type="text" class="form-control" id="post-code" name="postcode" required
                        {{#feedback}}{{#lastInputPostcode}}value="{{lastInputPostcode}}"{{/lastInputPostcode}}{{/feedback}}>
                    <div class="invalid-feedback"
                         id="postcode-feedback-message">{{#feedback}}{{#postcodeErrorMessage}}{{postcodeErrorMessage}}{{/postcodeErrorMessage}}{{/feedback}}
                    </div>
                </div>
            </div>
            <button name="register" class="btn btn-secondary btn-md my-3" type="submit">Submit Details
            </button>
        </form>
    </div>
</main>

{{> footer}}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="/js/form-validation.js"></script>
</body>
</html>